* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: white;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.6);
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
}

/* LOGO */
.logo {
  display: flex;
  
}

.logo img {
  width: 100px;
  height: auto;
}

.logo a {
  display: flex;       
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

nav span {
  color: red;
}

nav a:hover {
  padding-right: 10px;
}

/*FOOTER */

footer {
  background-color: #0c0c0c;
  padding-left: 100px;
}

footer p {
  text-align: center;
  padding-top: 10px;
}

#linkinternos {
  display: flex;
}
