* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: white;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.6);
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
}


/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo h2 {
  font-weight: bold;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

nav span {
  color: red;
}

nav a:hover {
  color: #D80621;
}